---
- name: Check if kubeadm has already run
  stat:
    path: "/etc/kubernetes/pki/ca.key"
  register: kubeadm_ca
  
- name: Init
  shell: kubeadm init --pod-network-cidr=10.244.0.0/16
  when: not kubeadm_ca.stat.exists

- name: Ensure .kube directory exists.
  file:
    path: ~/.kube
    state: directory
    mode: 0755

- name: Symlink the kubectl admin.conf to ~/.kube/conf.
  file:
    src: /etc/kubernetes/admin.conf
    dest: ~/.kube/config
    state: link
    mode: 0644

- name: Installing Pod network…. (Flannel)
  shell: kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml

- name: Getting join command from the master node…
  shell: kubeadm token create --print-join-command
  register: join_command
 
- name: Setting join command…
  set_fact:
    join_command: “{{ join_command.stdout_lines[0] }}”
